/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #0a0a0a;
  color: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
    /* Fondo con la imagen */
  background: #0d1b2a url('https://www.transparenttextures.com/patterns/stardust.png');
  background-size: auto;
  background-position: bottom;
  height: 80px; /* ajusta la altura */
  width: 100%;
  position: relative;
}
.navbar::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6); /* filtro oscuro opcional */
  z-index: 0;
}

.navbar * {
  position: relative;
  z-index: 1; /* asegura que el texto esté encima */
}

.titulo-navbar {
  font-size: 24px;
  color: #fff;
  text-shadow: 0 0 10px #ff0099, 0 0 20px #ff0099; /* efecto neón */
}
.navbar .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar .logo img {
  width: 40px;
}

.navbar h1 {
  font-size: 20px;
  color: #ff0099;
  text-shadow: 0 0 10px #ff0099;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #00ffcc;
  text-shadow: 0 0 5px #00ffcc;
}

/* Hero */
.hero {
  height: 60vh;
  background: url('../img/disco-bg.jpg') no-repeat center center / cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-text {
  background: rgba(0, 0, 0, 0.6);
  padding: 30px;
  border-radius: 10px;
}

.hero-text h2 {
  font-size: 32px;
  color: #ff0099;
  text-shadow: 0 0 15px #ff0099;
}

.hero-text p {
  margin: 15px 0;
  font-size: 18px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #00ffcc;
  color: #000;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: #ff0099;
  color: #fff;
}

/* Productos */
.productos-destacados {
  padding: 40px;
  text-align: center;
}

.productos-destacados h2 {
  color: #00ffcc;
  margin-bottom: 20px;
  text-shadow: 0 0 10px #00ffcc;
}

.grid-productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.producto {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s;
}

.producto:hover {
  transform: scale(1.05);
}

.producto img {
  width: 100%;
  border-radius: 10px;
}

.producto h3 {
  margin: 10px 0;
  color: #ff0099;
}

.producto p {
  font-size: 18px;
  margin-bottom: 10px;
}

.producto button {
  padding: 8px 15px;
  border: none;
  background: #00ffcc;
  color: #000;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.producto button:hover {
  background: #ff0099;
  color: #fff;
}

/* Footer */
footer {
  background: #111;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
  font-size: 14px;
  color: #aaa;
}
